---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 - Page Not Found'>
  <div
    class='flex flex-col justify-center items-center px-4 min-h-[60vh] text-center'>
    <h1 class='font-black text-sky-500 text-9xl'>404</h1>
    <p class='mt-4 font-bold text-white text-2xl'>Oops! Page not found.</p>
    <p class='mt-2 mb-8 text-slate-400'>
      The page you are looking for doesn't exist or has been moved.
    </p>
    <a
      href='/'
      class='bg-sky-600 hover:bg-sky-700 px-8 py-3 rounded-full font-bold text-white hover:scale-105 transition-all'>
      Back to Home
    </a>
  </div>
</Layout>
